@page
@model TrustSeal.Pages.TsBusinesses.IndexModel

@{
    ViewData["Title"] = "Business Details";
}
<div class="container-fluid table-container">
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <h2 class="h4 mb-4">My Businesses</h2>
            <div class="mb-3">
                <a asp-page="Create" class="btn btn-primary btn-custom">Create New</a>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm small shadow">
                    <thead class="table-light bg-secondary text-black">
                        <tr>
                            <th>Legal Name</th>
                            <th>Reg. Number</th>
                            <th>Tax ID</th>
                            <th>Incorp. Date</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Business Info</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Business)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.LegalName)</td>
                                <td>@Html.DisplayFor(modelItem => item.RegistrationNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaxIdentificationNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.IncorporationDate)</td>
                               
                                <td title="@item.StreetAddress, @item.City, @item.PostalCode, @item.Country">
                                        @(item.StreetAddress?.Length > 20 ? item.StreetAddress.Substring(0, 17) + "..." : item.StreetAddress)
                                
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)<br>
                                    @Html.DisplayFor(modelItem => item.Email)<br>
                                    @Html.DisplayFor(modelItem => item.Website)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BusinessType)<br>
                                    @Html.DisplayFor(modelItem => item.IndustryCategory)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsVerified)<br>
                                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-success btn-sm" asp-page="#" asp-route-id="@item.Id"><i class="bi bi-list-check"></i></a>
                                        <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill"></i></a>
                                        <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.Id"><i class="text-white bi bi-eye-fill"></i></a>
                                        <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>